body{
  font-family:Arial, Helvetica, sans-serif;
  font-size:14px;
  margin:0px;
}
#wrapper{
  width:960px;
  height:400px;
  margin:0 auto;
}
#header{
  height:91px;
  background:url(images/header-bg.png) repeat-x;
}
#logo{
  height:91px;
  width:118px;
  background:url(images/iwmi_logo.png);
  float:left;
}
#search-bar{
  height:70px;
  background:url(images/search-header.png) repeat-x;
}
#search-bar a img, #slogan-wrapper a img
{
	border:none;
}
#title{
  font-size:20pt;
  font-family:Arial;
  color:#000;
  float:right;
  width:300px;
  margin-top:30px;
}
#content{
  
}
.main-image-container{
	float:left;
	width: 540px;
}
.main-data-container{
	float:left;
	width: 387px;
	padding: 20px 0px 0px 30px;
	font-size:15pt;
	font-family:Arial;
	color:#515151;
}
.main-data-container a
{
	color:#006cb7;
	text-decoration:none;
}
.main-vertical-seperator
{
	width: 3px;
	height:450px;
	float:left;
	background:#066bbd;
	margin-top:20px;
}
#main-title-usb
{
	font-size:30pt;
	font-family:Arial;
	color:#066bbd;
	font-weight:bold;
}
#search-seperator
{
	height:5px;
	background:url(images/search-seperator.png) repeat-y;
}
#slogan
{
	color:#066bbd;
	font-size:15pt;
	float:left;
}
#dot-image
{
	float:right;
	margin:3px 0px 0px 10px;
}
#slogan-wrapper
{
	margin-top:30px;
}
#footer-logo
{
	margin:10px 0px 0px 90px;
}
#footer{
  height:31px;
  background:#57c7f9 url(images/footer-bg.jpg) center no-repeat;
  padding:10px;
  font-size:11px;
  font-family:Verdana, Arial, Helvetica, sans-serif;
}
#author{margin-top:15px;float:left}
#copy-right{margin-top:15px;float:right}
#menu-container{
  width:170px;
  margin:12px 14px 10px 12px;
  font-size:12px;
}
#data-container{
  width:930px;
  margin:0px 11px 7px 0;
  padding:10px 30px 30px 30px;
}
#grid-data-container{
  width:930px;
  margin:0px 11px 7px 0;
}
#menu-container{
  height:415px;
  float:left;
  padding:10px
}
#menu-container ul{
  list-style:none;
  line-height:1.8em;
  padding-left:20px
}
#menu-container ul a{
  text-decoration:none
}
#menu-container ul li{
  list-style:url(images/li-icon.png);
  padding-left:5px;
  font-weight:bold
}
#menu-container ul li:hover{
  background:#b2dff6;
  list-style:url(images/li-icon-hover.png);
}
#menu-container ul li:hover ul li:hover{
  background:#b2dff6;
  list-style:url(images/li-icon-hover.png);
}
#menu-container ul li#commsResources:hover{
  background:none;
  list-style:url(images/li-icon-hover.png);
}
#menu-container ul li:focus{
  background:#b2dff6;
  list-style:url(images/li-icon-hover.png);
}
#menu-container ul li:hover a{
  color:#000
}
#menu-container ul li:hover li a{
  color:#0066cc;
}
#menu-container ul li a{
	color:#0066cc;
}
.clear{
  clear:both
}
#searchText, #sortBy{
	background: #e9f6fa; 
	font-family: verdana;
	font-size: 11px;
	font-weight: bold;
	color: #006cb7;
}
.filter
{
	float:left; 
	margin-right: 5px;
	font-size: 12px;
	font-weight: bold;
	color:#0202CA;
}
.noRecords
{
	border: #006cb7 2px solid;
	text-align: center;
	font-size: 12px;
	color: #006cb7;
	padding: 10px 0;
	margin: 20px 20px 20px 20px;
	font-weight: bold;
}
.backButton{
	text-align: center;
	margin-right: 5px;
	font-size: 12pt;
	border:#006cb7 1px solid;
	width: 80px;
	padding:5px 0px;	
	float:right;
}
.backButton a
{
	text-decoration:none;
	color:#006cb7;
}
.mainTopic{
    float: left;
	font-size:12pt;
	font-weight:bold;
	margin: 3px 10px 0px 5px;
	color:#006cb7;
}
.detailTopic
{
    font-weight: bold;
	font-size:15pt;
	font-family:Arial;
	color:#006cb7;
}
.detailView
{
 	height: 545px;
	margin: 0 auto;
	overflow-y: scroll;
    overflow-x: auto;
	padding-right: 10px;
}
.detailDescription
{
 	font-size: 12pt;
	text-align:justify;
	float:left;
	width:600px;
	color:#515151;
	font-family:Arial;
}
.detailDescription a
{
	color:#515151;
	text-decoration:none;
}
.imageWrapper
{
 	float: right;
	margin: 0px 10px 10px 0px;
	width:250px;	
}
.gridImageWrapper
{
    height: 108px;
	width: 140px; 
	margin: 0 auto;
	margin-bottom:6px;
}
.imageWrapper img
{
	border:#3a5f8b 2px solid;
	padding:4px;
	float:right;
}
.gridImageWrapper img
{
	border:#3a5f8b 2px solid;
	padding:5px;
}
.gridImageTitle a
{
	text-decoration:none;
	color:#515151;
	font-size:11pt;
}
#details-view
{
	height: 400px;
    overflow: auto;
}
hr.hr-style
{
	margin-top:0px;
	margin-bottom:20px;
	border:#4a7ebb 2px solid;
}
#backHomeStyle
{	
	margin-right:50px;
}
#search-btn
{
	height:27px;
	width:61px;
	background:url(images/search-button.png) center no-repeat;
	border:none;
	color:#fff;
	font-weight:bold;
}
#reset-btn
{
	height:27px;
	width:53px;
	background:url(images/reset.png) center no-repeat;
    border:none;
	margin-left:10px;
	color:#fff;
	font-weight:bold;
}
#search-buttons
{ 	
	margin: 0px auto;
	padding-top:5px;
	font-size:12px;
	width:600px;
}
#search-buttons label
{
	margin:4px 0px 0px 15px;
}
#search-buttons input, #search-buttons select, #categoryTypeSel
{
	font-size:11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}
.sort-order
{
	float: right;
	font-size:9pt;
	font-family:Arial;
	margin: 7px 5px 0px 0px;
}
.sort-order a
{
	text-decoration:none;
	color:#006cb7;
}
.logo-image 
{
	margin-top:6px;
	float:right;
}
#document-type
{
	width:303px;
	margin-right:5px;
}
.header-items
{
	margin-top:5px;
	position: relative;
}
input#search-text
{
	margin:4px 0px 0px 0px;
	width: 300px;
}
.pagination-buttons
{
	text-decoration:none;
	color:#006cb7;
}
.label-style
{
	width:90px;
	display:block; 
	float:left;
}
.label-style optgroup label
{
	font-style:normal;
	font-weight:normal;
}
#help-image-front
{
	float:left;
	margin-left:10px;
}
.inner-select
{
	margin-top: 5px;
	float:left;
}
.list-links
{
	font-size: 12px; 
}
.list-links a
{
	color:#515151;
	text-decoration:none;
}
.list-links a:hover
{
	color:#006cb7;
	text-decoration:underline;
}
.grid-note{

	font-size:12px;
	width:500px;
	color:#006cb7;
	margin: 0px 0px 10px 5px;
}
.sort-order b
{
	color:#000099;
}

/*-- popup window styles --*/
/*
    ColorBox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}

/* 
    User Style:
    Change the following styles to modify the appearance of ColorBox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:url(images/overlay.png) repeat 0 0;}
#colorbox{}
    #cboxTopLeft{width:21px; height:21px; background:url(images/controls.png) no-repeat -101px 0;}
    #cboxTopRight{width:21px; height:21px; background:url(images/controls.png) no-repeat -130px 0;}
    #cboxBottomLeft{width:21px; height:21px; background:url(images/controls.png) no-repeat -101px -29px;}
    #cboxBottomRight{width:21px; height:21px; background:url(images/controls.png) no-repeat -130px -29px;}
    #cboxMiddleLeft{width:21px; background:url(images/controls.png) left top repeat-y;}
    #cboxMiddleRight{width:21px; background:url(images/controls.png) right top repeat-y;}
    #cboxTopCenter{height:21px; background:url(images/border.png) 0 0 repeat-x;}
    #cboxBottomCenter{height:21px; background:url(images/border.png) 0 -29px repeat-x;}
    #cboxContent{background:#fff; overflow:hidden;}
        .cboxIframe{background:#fff;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{margin-bottom:28px;}
        #cboxTitle{position:absolute; bottom:4px; left:0; text-align:center; width:100%; color:#949494;}
        #cboxCurrent{position:absolute; bottom:4px; left:58px; color:#949494;}
        #cboxSlideshow{position:absolute; bottom:4px; right:30px; color:#0092ef;}
        #cboxPrevious{position:absolute; bottom:0; left:0; background:url(images/controls.png) no-repeat -75px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxPrevious:hover{background-position:-75px -25px;}
        #cboxNext{position:absolute; bottom:0; left:27px; background:url(images/controls.png) no-repeat -50px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxNext:hover{background-position:-50px -25px;}
        #cboxLoadingOverlay{background:url(images/loading_background.png) no-repeat center center;}
        #cboxLoadingGraphic{background:url(images/loading.gif) no-repeat center center;}
        #cboxClose{position:absolute; bottom:0; right:0; background:url(images/controls.png) no-repeat -25px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxClose:hover{background-position:-25px -25px;}

/*
  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to or needed in IE9.
  See: http://jacklmoore.com/notes/ie-transparency-problems/
*/
.cboxIE #cboxTopLeft,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopRight,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft,
.cboxIE #cboxMiddleRight {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
}

/*
  The following provides PNG transparency support for IE6
  Feel free to remove this and the /ie6/ directory if you have dropped IE6 support.
*/
.cboxIE6 #cboxTopLeft{background:url(images/ie6/borderTopLeft.png);}
.cboxIE6 #cboxTopCenter{background:url(images/ie6/borderTopCenter.png);}
.cboxIE6 #cboxTopRight{background:url(images/ie6/borderTopRight.png);}
.cboxIE6 #cboxBottomLeft{background:url(images/ie6/borderBottomLeft.png);}
.cboxIE6 #cboxBottomCenter{background:url(images/ie6/borderBottomCenter.png);}
.cboxIE6 #cboxBottomRight{background:url(images/ie6/borderBottomRight.png);}
.cboxIE6 #cboxMiddleLeft{background:url(images/ie6/borderMiddleLeft.png);}
.cboxIE6 #cboxMiddleRight{background:url(images/ie6/borderMiddleRight.png);}

.cboxIE6 #cboxTopLeft,
.cboxIE6 #cboxTopCenter,
.cboxIE6 #cboxTopRight,
.cboxIE6 #cboxBottomLeft,
.cboxIE6 #cboxBottomCenter,
.cboxIE6 #cboxBottomRight,
.cboxIE6 #cboxMiddleLeft,
.cboxIE6 #cboxMiddleRight {
    _behavior: expression(this.src = this.src ? this.src : this.currentStyle.backgroundImage.split('"')[1], this.style.background = "none", this.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src=" + this.src + ", sizingMethod='scale')");
}
.listTableOdd
{
	color:#515151;
}
.listTableOdd a
{
	color:#515151;
	font-weight: bold;
}
.listTableEven
{
	color:#3CD547;
}
.listTableEven a
{
	color:#3CD547;
	font-weight: bold;
}
#project-detail-url {
    text-decoration:underline;	
}

.image-container {
	position: relative;
}

.image-container-thumnail-icon{
	position: absolute;
	bottom: 0;
}

.image-container-thumnail-icon img{
	border: none;
}

#update-wrapper div{
	float: left;
}

#update-btn{
	margin-left: 10px;
	position: absolute;
	right: -170px;
	top: 1px;
}

#update-btn a img {
	border: none;
}

#records-summary{
	font-size: 12px;
	font-weight: bold;
}
